* {
    margin: 0;
    padding: 0;
}

.wrapper {
    background: #cccccc;
    height: 100vh;
    padding-top: 12rem;
    box-sizing: border-box;

    #txt {
        text-align: center;
        padding: 2rem 0;
        font-size: 3rem;
        opacity: 0;
        transition: 2s;

        &.txDeco {
            padding-top: 0rem;
            font-size: 3rem;
            opacity: 1;
        }
    }
}